/* login, newpost, signup 처럼 인풋이 있는 경우 사용하는 디자인 파일*/

:root{
    --back : rgb(236, 236, 236);

}

.bg-3 {

    background-color : rgb(236, 236, 236)
}



/* 시작 :: 입력칸 대한 스타일 정보들 */
.info {
    border-radius : 10%;
    font-size: 20px;
    color : gray;

    width : 100%;
    margin: 0;
    padding-left : 10%;
}

.Inputform{
    display: flex;
    align-items: center;


    height : 50px;
    border : 1px solid #939393;
    border-radius : 5px;

    margin : 5% 10% 5% 10%;

    font-size: 20px;
}

input{
    border : none;
}


#submit{
    display: block;
    
    background-color : #939393;
    color : white;
    border-radius : 5px;

    font-size: 20px;
    
    width : 20%;
    height : 50px;
    padding : auto;

    margin: 0 auto;
    
}
/* 끝:: 입력칸 대한 스타일 정보들 */


@media (min-width: 768px) {
    .navbar-collapse.collapse {
      display: none !important;
    }
  }