body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
  overflow-y: auto;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 2;
}

.curtain {
  position: absolute;
  top: 0;
  width: 50vw;
  height: 100vh;
  background-color: #ebe0d2;
  transition: transform 1s ease;
  z-index: 3;
}

.left-curtain {
  left: 0;
  transform: translateX(0);
}

.right-curtain {
  right: 0;
  transform: translateX(0);
}

.open .left-curtain {
  transform: translateX(-30vw);
}

.open .right-curtain {
  transform: translateX(30vw);
}

.message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
  color: #ceba95;
  opacity: 0;
  z-index: 2;
  transition: opacity 1s ease 0.5s;
  text-align: center;
}

.open .message {
  opacity: 1;
}

.play-btn {
  display: block;
  margin: 20px auto 0;
  font-size: 0.5em;
  padding: 10px 20px;
  cursor: pointer;
}


.knock-message {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5em;
  color: #898989;
  opacity: 0;
  z-index: 3;
  pointer-events: none;
  animation: none;
}

.guide-message {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5em;
  color: #fcfbfa;
  opacity: 0;
  z-index: 3;
  pointer-events: none;
  animation: none;
}

.guide-message.active {
      display: block;
      opacity: 1;
      animation: appear 0.6s ease forwards;
  }

@keyframes fadeIn {
  0%   { transform: translateY(-10px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

@keyframes knock {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }
  30% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.1);
  }
  60% {
    opacity: 0.9;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
  }
}

.knock-message.active {
  animation: knock 1.5s ease;
}

.footer {
  background-color: #fff;
  padding: 100px 20px;
  font-size: 1.5em;
  line-height: 2em;
  z-index: 1;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 2;
}

.chess-board {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;  /* container 기준 */
  height: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  z-index: 1;
}

.cell.white {
  background-color: #fff; /* 흰색 */
  color: #99806f; /* 검은 기물 대비 */
}

.cell.black {
  background-color: #99806f; /* 검정색 */
  color: #fff; /* 흰 기물 대비 */
}


.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  user-select: none;
}





