

.bg-3 {

    background-color : rgb(236, 236, 236)
}


.loginInfo{
  width : 100px; 
  height : 30px; 
  margin-right : 5px; 
  margin-left : 5px

}

@media (min-width: 768px) {
    .navbar-collapse.collapse {
      display: none !important;
    }
  }